<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/ygh6zaz.css">
    <title>Shirakaba.studio Design System Study</title>
</head>

<body class="component-page">

    <main class="component-page__main">

        <h1>Web Design System</h1>

        <div class="page-wrapper">

        <p>This is a collection of components based on my study of the design system of the 
            <a href="https://www.shirakaba.studio/">shirakaba.studio</a> website.
        </p>

        <!-------Typography------->

    <section class="page-section">
        <h3 class="component-page__section-heading">Typography</h3>

        <article id="typography">
            <h3 class="component__name">H2, Body</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/typography.png" width="500" alt="typography screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <h2>A creative practice © 2024</h2>
                <p class="body">naming, identity, strategy</p>
            </div>
        </article>

        <article id="links">
            <h3 class="component__name">links</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/links.png" width="1000" alt="links screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <p class="link__s">Studio</p>
                <p class="link__l">Shop:<br> Planteary<br> Agenda</p>
                <p class="link__m">Play</p>
                <p class="link__xl">Ready to work together?</p>
            </div>
        </article>

        <!-------Atoms------->

        <h3 class="component-page__section-heading">Atoms</h3>

        <article id="wordmark">
            <h3 class="component__name">.wordmark</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/wordmark.png" width="500" alt="wordmark screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <img src="../images/wordmark/shirakaba.svg" class="wordmark" alt="wordmark">
            </div>
        </article>

        <article id="bullet">
            <h3 class="component__name">.bullet</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/bullet.png" width="50" alt="bullet screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="bullet"></div>
            </div>
        </article>

        <article id="section-heading">
            <h3 class="component__name">.section-heading</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/section-heading.png" width="200" alt="section heading screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="section-heading">The Work</div>
            </div>
        </article>

        <!-------Main nav------->

        <h3 class="component-page__section-heading">Main Nav</h3>

        <article id="main-nav">
            <h3 class="component__name">.main-nav</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/main-nav.png" width="1000" alt="main nav screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>

                <div class="main-nav">
                    <div class="main-nav__list-flex_wrap">
                    <div class=bullet></div>
                    <div class="main-nav__list">
                        <div class="link__s">Studio</div>
                        <div class="link__s">Ethos</div>
                        <div class="link__s">House</div>
                        <div class="link__s">Store</div>
                    </div>
                    </div>
                    <img src="../images/wordmark/shirakaba.svg" class="wordmark" alt="wordmark">
                    <h2>A creative practice © 2024</h2>
                </div>
            </div>
        </article>

        <!-------Nav List------->

        <h3 class="component-page__section-heading">Nav List</h3>

        <article id="nav-list">
            <h3 class="component__name">.main-nav__list</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/main-nav__list.png" alt="nav list screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="main-nav">
                    <div class="main-nav__list-flex_wrap">
                    <div class=bullet></div>
                    <div class="main-nav__list">
                        <div class="link__s">Studio</div>
                        <div class="link__s">Ethos</div>
                        <div class="link__s">House</div>
                        <div class="link__s">Store</div>
                    </div>
                </div>
            </div>
            </div>
        </article>
    

        <!-------Gallery------->

        <h3 class="component-page__section-heading">Gallery</h3>

        <article id="gallery">
            <h3 class="component__name">.gallery</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/gallery.png" alt="gallery screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="gallery">
                    <img src="../images/carousel-section/carousel_1.jpg" class="gallery__img" alt="carousel image">
                    <img src="../images/carousel-section/carousel_2.jpg" class="gallery__img" alt="carousel image">
                    <img src="../images/carousel-section/carousel_3.jpg" class="gallery__img" alt="carousel image">
                    <img src="../images/carousel-section/carousel_4.jpg" class="gallery__img" alt="carousel image">
                </div>
            </div>
        </article>

        <article id="gallery__img">
            <h3 class="component__name">.gallery__img</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/gallery__img.png" alt="gallery screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="gallery__img">
                    <img src="../images/carousel-section/carousel_1.jpg" class="gallery__img" alt="carousel image">
                </div>
            </div>
        </article>

        <!-------Work------->

        <h3 class="component-page__section-heading">Work</h3>

        <article>
            <h3 class="component__name">.work</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/work.png" width="1000" alt="work section screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="work">
                    <div class="section-heading">The Work</div>
                    <div class="work__wrapper">
                    <img src="../images/work-section/shirakaba-house.jpeg" class="work__img" alt="work section image">
                    <div class="work__text-wrapper">
                        <div class="work__text-border-top">
                            <div class="body"><strong>Superlap</strong></div>
                            <div class="body">Naming, Identity, Strategy</div>
                            <div class="body">Detroit, Mi</div>
                            <div class="body">2024</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Hesita</strong></div>
                            <div class="body">Identity, Packaging & Web Design</div>
                            <div class="body">Durham, NC</div>
                            <div class="body">2023</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Commonwealth</strong></div>
                            <div class="body">Identity, Website, Social</div>
                            <div class="body">Detroit, Mi</div>
                            <div class="body">2024</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Studio Vera</strong></div>
                            <div class="body">Identity, Website, Social</div>
                            <div class="body">Detroit, Mi</div>
                            <div class="body">2024</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Propeller</strong></div>
                            <div class="body">Naming, Identity, Website</div>
                            <div class="body">San Francisco, Ca</div>
                            <div class="body">2023</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Meijer</strong></div>
                            <div class="body">Identity, Web, Signage</div>
                            <div class="body">Grand Rapids, Mi</div>
                            <div class="body">2024</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Lalo</strong></div>
                            <div class="body">Social & Email Strategy</div>
                            <div class="body">New York, NY</div>
                            <div class="body">2023</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Treasury Prime</strong></div>
                            <div class="body">Digital Product & Web Design</div>
                            <div class="body">San Francisco, CA</div>
                            <div class="body">2023</div>
                        </div>
                        <div class="work__text">
                            <div class="body"><strong>Your Project Here</strong></div>
                            <div class="body">Let's Work Together</div>
                            <div class="body">Click Here</div>
                            <div class="body">2024</div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article id="work__text">
            <h3 class="component__name">.work__text</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/work__text.png" alt="work text screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>

                <div class="work__text-wrapper">
                <div class="work__text">
                    <div class="body"><strong>Superlap</strong></div>
                    <div class="body">Naming, Identity, Strategy</div>
                    <div class="body">Detroit, Mi</div>
                    <div class="body">2024</div>
                </div>
                <div class="work__text">
                    <div class="body"><strong>Hesita</strong></div>
                    <div class="body">Identity, Packaging & Web Design</div>
                    <div class="body">Durham, NC</div>
                    <div class="body">2023</div>
                </div>
                <div class="work__text">
                    <div class="body"><strong>Commonwealth</strong></div>
                    <div class="body">Identity, Website, Social</div>
                    <div class="body">Detroit, Mi</div>
                    <div class="body">2024</div>
                </div>
                <div class="work__text">
                    <div class="body"><strong>Studio Vera</strong></div>
                    <div class="body">Identity, Website, Social</div>
                    <div class="body">Detroit, Mi</div>
                    <div class="body">2024</div>
                </div>
                </div>

            </div>
        </article>

        <article id="work__img">
            <h3 class="component__name">.work__img</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/work__img.png" alt="work image screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <img src="../images/work-section/shirakaba-house.jpeg" class="work__img" alt="work section image">
            </div>
        </article>

        <!-------Featured------->

        <h3 class="component-page__section-heading">Featured</h3>

        <article id="featured">
            <h3 class="component__name">.featured</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/featured.png" width="1000" alt="features screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="featured">
                    <p class="link__l">Tour<br> Shirakaba<br>House</p>
                    <p class="link__l">Featured<br> Project<br> Hesita</p>
                    <p class="link__l">Shop:<br> Planteary<br> Agenda</p>
                    <img class="featured__img" src="../images/links-section/links_1.jpg" alt="feature section image">
                    <img class="featured__img" src="../images/links-section/links_2.jpg" alt="feature section image">
                    <img class="featured__img" src="../images/links-section/links_3.jpg" alt="feature section image">
                    <img class="featured__img" src="../images/links-section/links_4.jpg" alt="feature section image">
                </div>
            </div>
        </article>

        <!-------Playlist------->

        <h3 class="component-page__section-heading">Playlist</h3>

        <article id="playlist">
            <h3 class="component__name">.playlist</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/playlist.png" width="1000" alt="playlist screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="playlist">
                    <p class="link__l">Playlist<br>Vol.1</p>
                    <p class="link__l">Playlist<br>Vol.2</p>
                    <p class="link__l">Playlist<br>Vol.3</p>
                    <img class="playlist__img" src="../images/playlist-section/playlist_1.jpg" alt="playlist image">
                    <img class="playlist__img" src="../images/playlist-section/playlist_2.jpg" alt="playlist image">
                    <img class="playlist__img" src="../images/playlist-section/playlist_3.jpg" alt="playlist image">
                    <p class="link__m">Play</p>
                    <p class="link__m">Play</p>
                    <p class="link__m">Play</p>
                </div>
            </div>
        </article> 

        <!-------Footer------->

        <h3 class="component-page__section-heading">Footer</h3>

        <article id="footer">
            <h3 class="component__name">.footer</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/footer.png" width="1000" alt="footer screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="footer">
                    <img class="wordmark" src="../images/wordmark/shirakaba.svg" alt="wordmark">
                    <div class="footer__list">
                        <div class="link__footer">Studio</div>
                        <div class="link__footer">Ethos</div>
                        <div class="link__footer">Contact</div>
                        <div class="link__footer">Instagram</div>
                </div>
                </div>
            </div>
        </article> 


        <article id="footer__list">
            <h3 class="component__name">.footer__list</h3>
            <div class="component__image">
                <div class="tag"><p>img</p></div>
                <img src="../images/screenshots/footer__list.png" width="1000" alt="footer list screenshot">
            </div>
            <div class="component__code">
                <div class="tag"><p>code</p></div>
                <div class="footer__list">
                        <div class="link__footer">Studio</div>
                        <div class="link__footer">Ethos</div>
                        <div class="link__footer">Contact</div>
                        <div class="link__footer">Instagram</div>
                </div>
            </div>
        </article> 

    </section>
  
    </div>

    </main>

</body>

</html>